language: rust
cache: cargo


matrix:
  include:
    - os: linux
      rust: nightly

before_install:
  - which grcov || cargo install grcov

script:
  - export CARGO_INCREMENTAL=0
  - export RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zno-landing-pads"
  - cargo build --verbose $CARGO_OPTIONS
  - cargo test --verbose $CARGO_OPTIONS
  - |
    zip -0 ccov.zip `find . \( -name "*ipv8*.gc*" \) -print`;
    grcov ccov.zip -s . -t lcov --llvm --branch --ignore-not-existing --ignore-dir "/*" -o lcov.info;
    bash <(curl -s https://codecov.io/bash) -f lcov.info;
